body {
    background-color: var(--background);
    color: var(--text);
  }
  
  .bg-card {
    background-color: var(--primary);
  }
  
  .text-card-foreground {
    color: var(--text);
  }
  
  .text-muted-foreground {
    color: var(--secondary);
  }
  
  .bg-primary {
    background-color: var(--primary);
  }
  
  .text-primary {
    color: var(--primary);
  }
  
  .border-input {
    border-color: var(--accent);
  }
  
  .focus:ring-primary {
    --tw-ring-color: var(--primary);
  }